<div class="main-container-show">
  <div class="d-flex align-items-center h-100 justify-content-center">
    <div class="col mb-2">
      <div class="card text-white bg-dark border-dark rounded">
        <div class="card-horizontal">
          <%= image_tag(@cocktail.image, class: "card-img-large rounded") %>
          <div class="card-body">
            <div>
              <h2 class="card-title text-primary font-weight-bold text-<%= @cocktail.bootstrap_color %>"> 
                <%= @cocktail.name %> 
              </h2>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <div class="text-white font-weight-normal" style="margin-left: 1.5em;">
                Ingredient
              </div>
              <div class="text-white font-weight-normal">
                Amount
              </div>
            </div>
            <hr>
            <% @cocktail.doses.each do |dose| %>
              <div class="d-flex justify-content-between">
                <div class="text-white font-weight-normal">
                  <%= link_to "ðŸ—‘ï¸", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} %> <%= dose.ingredient.name %>
                </div>
                <div class="text-white font-weight-normal">
                  <%= dose.description %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to "Create a Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success text-white float-right" %>
          <%= link_to "Go Back", root_path , class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
